name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Publish
      run: dotnet publish -c Release

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: WiFiManager-win-x64
        path: bin/Release/net8.0/win-x64/publish/WiFiManager.exe
